---
import HeroHeader from "../components/HeroHeader.astro";
import HeadDescription from "../components/HeadDescription.astro";
import ImageStrip from "../components/ImageStrip.astro";
import NavBar from "../components/NavBar.astro";
import GorrotHeader from "../components/GorrotHeader.astro";
import "../fonts.css";
import "../reset.css";
import TitleTextBlock from "../components/TitleTextBlock.astro";
import headPic1 from "../assets/images/8x8.png";
import headPic2 from "../assets/images/8x8.png";
import headPic3 from "../assets/images/8x8.png";

const images = [
  { src: headPic1, alt: "First image" },
  { src: headPic2, alt: "Second image" },
  { src: headPic3, alt: "Third image" },
];

const gorrotTitle = "What is Gorrot?";
const gorrotDescription =
  "Gorrot is a planned expansion for Fastiloose!. It takes the clean bones of the original system and dresses them in damp vestments, an aesthetic of decay, faith, and futility. It’s both a playable add-on and a demonstration of how far Fastiloose!’s engine can stretch before it starts to creak. Mostly, though, it’s an excuse to dig in the soil of strange ideas until something writhes.";
const gorrotTitle1 = "What's the plot?";
const gorrotDescription1 =
  "Gorrot unfolds within a small, ruined church at the heart of a drowned village. Here, Artyrgon, a weary priest, and Maldebon, the gravekeeper, tend to a whispering channel that hums with the breath of something divine - or diseased. Word of this “God-in-waiting” spreads through the valley, and soon three factions descend upon the chapel, each seeking communion by force of arms.";
const gorrotTitle2 = "Who are we?";
const gorrotDescription2 =
  "The player controls a small band of idol-seekers. The three main factions are: The Brightened, The Darkened and the Plagued.";

const gorrotTitle3 = "The Brightened";
const gorrotDescription3 =
  "Fervent zealots who see illumination as both gift and weapon. To them, fire burns away falsehood; those who resist the flame must surely hide sin. Their armour gleams, their minds sear.";
const gorrotTitle4 = "The Darkened";
const gorrotDescription4 =
  "Silent pragmatists who move in shadow and doubt. To them, revelation is a curse. The world is best understood by feel, not sight. They believe peace lies in the unseen depths, not the burning sky.";

const gorrotTitle5 = "The Plagued";
const gorrotDescription5 =
  "Wretches twisted by disease and guilt. Their creed is not faith but survival. They have no gospel—only sores, hunger, and a hope that the church’s strange divinity might end their rot or spread it to all so that they are no longer the suffering.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Fastiloose! - Gorrot</title>
  </head>
  <body>
    <NavBar />
    <div class="gorrot-main">
      <HeroHeader headerText="Gorrot" />
      <ImageStrip imageArray={images} />
      <TitleTextBlock title={gorrotTitle} text={gorrotDescription} />
      <p>Three faiths. One ruin. No salvation</p>
      <TitleTextBlock title={gorrotTitle1} text={gorrotDescription1} />
      <p>In Light, Dark Shrinks</p>
      <TitleTextBlock title={gorrotTitle3} text={gorrotDescription3} />
      <p>Light merely reveals the Darkness</p>
      <TitleTextBlock title={gorrotTitle4} text={gorrotDescription4} />
      <p>Life is suffering, Death is peace</p>
      <TitleTextBlock title={gorrotTitle5} text={gorrotDescription5} />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .gorrot-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 35rem;
    padding: 0rem 2rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
</style>
