---
import HeroHeader from "../components/HeroHeader.astro";
import HeadDescription from "../components/HeadDescription.astro";
import ImageStrip from "../components/ImageStrip.astro";
import NavBar from "../components/NavBar.astro";
import GorrotHeader from "../components/GorrotHeader.astro";
import "../fonts.css";
import "../reset.css";
import TitleTextBlock from "../components/TitleTextBlock.astro";
import headPic1 from "../assets/images/8x8.png";
import headPic2 from "../assets/images/8x8.png";
import headPic3 from "../assets/images/8x8.png";

const images = [
  { src: headPic1, alt: "First image" },
  { src: headPic2, alt: "Second image" },
  { src: headPic3, alt: "Third image" },
];

const gorrotTitle = "What is Gorrot?";
const gorrotDescription =
  "Gorrot is a planned Expansion for Fastiloose!. Gorrot takes the underlying framework and layers an aesthetic over the top of it, with customisations that give real thematic coherence to a single vision, without upsetting the system that fuels it. Gorrot serves as an example of how powerful Fastiloose! can be, but also as an excuse for me to come up with crazy ideas.";

const gorrotTitle1 = "What's the plot?";
const gorrotDescription1 =
  "Gorrot takes place in a small church at the centre of an abandoned village. In this church, Artyrgon (a priest) and Maldebon (the groundskeeper) both work to preserve this peculiar channel to what seems to be an unnamed deity. But, word of this God-in-waiting has spread through the valley, bringing three main factions who each fight to hold communion in this church.";

const gorrotTitle2 = "Who are we?";
const gorrotDescription2 =
  "The player controls a small band of idol-seekers. The three main factions are: The Brightened, The Darkened and the Plagued.";

const gorrotTitle3 = "The Brightened";
const gorrotDescription3 =
  "The Brightened are a group of righteous zealots, convinced of the righteousness of their particular convictions. To them, light and fire represent both illuminating and purifying forces in the world and should be worshipped above all else.";

const gorrotTitle4 = "The Darkened";
const gorrotDescription4 =
  "The Darkened are a group of quiet minds. To them, Light holds little value but to blind and show what is already known in a tainted vision. In a sea of darkness, the one who swims survives.";
const gorrotTitle5 = "The Plagued";
const gorrotDescription5 =
  "The Plagued have no particular opinions on the world. Instead, the actions of others have brought misery to their own lives. Now, instead of any higher truth, they merely seek a cure from their plagues.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Fastiloose! - Gorrot</title>
  </head>
  <body>
    <NavBar />
    <div class="gorrot-main">
      <HeroHeader headerText="Gorrot" />
      <ImageStrip imageArray={images} />
      <TitleTextBlock title={gorrotTitle} text={gorrotDescription} />
      <TitleTextBlock title={gorrotTitle1} text={gorrotDescription1} />
      <p>In Light, Dark Shrinks</p>
      <TitleTextBlock title={gorrotTitle3} text={gorrotDescription3} />
      <p>Light merely reveals the Darkness</p>
      <TitleTextBlock title={gorrotTitle4} text={gorrotDescription4} />
      <p>Life is suffering, Death is peace</p>
      <TitleTextBlock title={gorrotTitle5} text={gorrotDescription5} />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .gorrot-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 35rem;
    padding: 0rem 2rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
</style>
